[submodule "sox-tricks"]
	path = sox-tricks
	url = git@github.com:b08x/sox-tricks.git
[submodule "lsmi"]
	path = lsmi
	url = git@github.com:b08x/lsmi.git
[submodule "makesfz"]
	path = makesfz
	url = git@github.com:rock-hopper/makesfz.git
[submodule "spectro"]
	path = spectro
	url = git@github.com:b08x/spectro.git
